@using Nop.Core.Infrastructure;
@using Nop.Core.Domain.Catalog;
@using Nop.Services.Catalog;
@using Nop.Web.Extensions;
@using Nop.Services.Seo;
@using System.Text;
@model Nop.Web.Models.Catalog.CategoryModel

<div class="divsearch">
    <div class="divsearch_left">
        <ul>
            <li>
                <img src="@Url.Content("/Themes/DefaultClean/Content/images/iconsearch.png")" align="absmiddle" />Tìm theo</li>
            @Html.Partial("~/Views/Catalog/_CategoryDropdownMenu.cshtml", Model)
            @Html.Partial("~/Views/Catalog/_CategoryManufactureFilter.cshtml", Model)
            @if (Model.PagingFilteringContext.PriceRangeFilter.Enabled)
            {
                @Html.Partial("_FilterPriceBox", Model.PagingFilteringContext.PriceRangeFilter, new ViewDataDictionary())
            }
            @Html.Partial("_FilterPropertiesBox", Model.PagingFilteringContext.PropertiesFilter, new ViewDataDictionary())
        </ul>
    </div>
    <div class="divsearch_right">
        @T("Categories.OrderBy")
        @Html.DropDownList("products-orderby", Model.PagingFilteringContext.AvailableSortOptions, new { onchange = "setLocation(this.value);" })
    </div>
</div>
