@using Nop.Core.Infrastructure;
@using Nop.Core.Domain.Catalog;
@using Nop.Services.Catalog;
@using Nop.Web.Extensions;
@using Nop.Services.Seo;
@using System.Text;
@model Nop.Web.Models.Catalog.ManufacturerModel

@{
    var _categoryserivice = EngineContext.Current.Resolve<ICategoryService>();
    var listcategory = _categoryserivice.GetAllCategoryByManufactureId(Model.Id);
}

@if (listcategory != null && listcategory.Count > 0)
{
    <li>
        <a href="@Url.RouteUrl("Category", new { SeName = Model.SeName })">@T("admin.catalog.bulkedit.list.searchcategory")</a>
        <div id="subcat" class="subcat">
            @{
    StringBuilder sb = new StringBuilder();
    string strHtmlItem = "<li><a href=\"{0}\">{1}</a></li>";
    int ColoumMod = listcategory.Count / 10;
    int ColoumDiv = listcategory.Count % 10;
    if (ColoumDiv > 0)
    {
        ColoumMod = ColoumMod + 1;
    }
    for (int col = 1; col <= ColoumMod; col++)
    {
        sb.Append("<li class=\"col\"><ul>");
        for (int i = 0; i < listcategory.Count; i++)
        {
            if (col == 1)
            {
                sb.Append(string.Format(strHtmlItem, Url.RouteUrl("Category", new { SeName = listcategory[i].GetSeName() }), listcategory[i].Name));
            }
            else if (i < (col + 1 * 10) && (i > col * 10))
            {
                sb.Append(string.Format(strHtmlItem, Url.RouteUrl("Category", new { SeName = listcategory[i].GetSeName() }), listcategory[i].Name));
            }
        }
        sb.Append("</ul></li>");
    }
            }
            @if (ColoumMod > 1)
            {
                <ul class="col2">
                    @Html.Raw(sb.ToString())
                </ul>
            }
            else
            {
                <ul class="col1">
                    @Html.Raw(sb.ToString())
                </ul>
            }
        </div>
        <img src="@Url.Content("/Themes/DefaultClean/Content/images/down.png")" />
    </li>
}