@model NewsItemListModel
@using Nop.Web.Extensions;
@using Nop.Web.Models.News;
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.NewsArchive").Text);
}
<div class="nav">
    <a href="@Url.RouteUrl("HomePage")" title="@T("Categories.Breadcrumb.Top")">@T("Categories.Breadcrumb.Top") </a> &rsaquo; <a href="/tin-tuc">@T("News")</a> &rsaquo; @ViewBag.CategoryName</div>
@if(Model.NewsItems.Count > 0)
{
<div class="content">
    <div class="contentrow">
        <div class="contentleft">
            <div class="listnews">
                <ul>
                @foreach (var item in Model.NewsItems)
                {
                    <li><a href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">
                        <img src="@item.DefaultPictureModel.ImageUrl" alt="@item.DefaultPictureModel.AlternateText" title="@item.DefaultPictureModel.Title" align="left" />
                    </a>
                        <h3><a href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">@item.Title</a></h3>
                        <p class="date1">@item.CreatedOn.ToString("D")</p>
                        <p>@Html.Raw(item.Short)</p>
                    </li>
                }
                </ul>
                <div class="pagination">
                    @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber")
                </div>
            </div>
        </div>
        @Html.Action("MostReadNewsByCategory")
    </div>
</div>
}
