@model NewsCategoryModel
@{
    //page title
    ViewBag.Title = T("Admin.Catalog.Categories.AddNew").Text;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "category-form" }))
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-catalog.png")" alt="" />
            @T("Admin.News.Categories.AddNew") @Html.ActionLink("(" + T("Admin.News.Categories.BackToList") + ")", "CategoryList")
        </div>
        <div class="options">
            <input type="submit" name="save" class="t-button" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="t-button" value="@T("Admin.Common.SaveContinue")" />
        </div>
    </div>
    @Html.Partial("_CreateOrUpdateCategory", Model)
}
